#---------------------------------------#
# git, GitHub                           #
#---------------------------------------#
.git/
.github/

#---------------------------------------#
# IDEs & Editors Ignores                #
#---------------------------------------#
.vscode/

#---------------------------------------#
# Mikan OS                              #
#---------------------------------------#
apps/
kernel/
MikanLoaderPkg
release_pack/
resource/

#---------------------------------------#
# MkDocs                                #
#---------------------------------------#
docs/
site/
